<%= render 'layouts/flash_message' %>

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-lg-10'>

    <h1 class='mb-5'>商品編集</h1>

    <%= render partial: 'item_form', locals: {     form_url: admin_item_path(@item),
                                               button_label: '変更を保存'} %>

    </div>
  </div>
</div>