<!--ヘッダーのパーシャル-->

<div>
  <%= render 'layouts/flash_message' %>
</div>

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-lg-10'>

    <h1 class='mb-5'>商品新規登録</h1>

    <%= render partial: 'item_form', locals: {     form_url: admin_items_path,
                                               button_label: '新規登録'} %>

    </div>
  </div>
</div>

<!--フッターのパーシャル-->