<div class="container-fluid">
  <h1 class="text-center">About</h1>
  <p class="text-center">ながのCakeは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションでご用意しております。<br>
  また、全国へ発注可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひ、ご注文ください
  </p>

  <%= image_tag "_c_choju40_0017_s512_choju40_0017_11.png", size: "150x200", class: "mx-auto d-block" %>

</div>

