

  <%= form_with model: @genre, url: form_url do |f| %>

  <div class="row mb-4 justify-content-center">

  <div class="col-3">
  <h4>ジャンル名</h4>
  </div>

  <div class="col-3">
  <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-3">
  <%= f.submit button_label, class: "btn btn-primary" %>
  </div>

  </div>

  <% end %>