<div class="container">
  <h1 class="mb-5">配送先編集</h1>

    <!-- 配送先編集  -->
  <%= render partial: "destinations_form", locals: { button_label: "変更内容を保存",
                                                     destination: @destination} %>
</div>
