@use '~bootstrap/scss/bootstrap';

@use '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

  body {
    height: 100%; /* 空の要素なので、高さの定義が必要です。 */
    background-image: url("../../assets/images/paper_00041.jpg");
    font-family: 'Kaisei Tokumin', serif;
  div, p, span, li, a, input, th {
    color: #b38a59;
    font-weight: bold;
  a {
    text-decoration: none;
      }
    }
  }

  header {
    background-color: #b6c0a8;
    font-family: 'Sacramento', 'Kaisei Tokumin', cursive;
    div, p, span, li, a, input, th {
      color: #fff;
    }
  }

  footer {
    background-color: #b6c0a8;
    color: #edefea;
  }

  a.page-link {
    color: #b38a59;
    background-color: #edefea;
  }

  th.genres {
    color: #fff;
    background-color: #668863;
  }

  tr.genres {
    background-color: #fff;
  }

  input.search_btn {
    background-color: #668863;
  }