<div class="container">
  <div class="row align-items-center justify-content-md-center">
    <h1 class="d-flex">ご注文ありがとうございました。</h1>
    <div class="ml-6">
      <%= image_tag "_c_choju32_0009_s512_choju32_0009_6.png", size: "300x250", class: "d-flex" %>
    </div>
  </div>
</div>