<footer class="pt-5 pb-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <p>© 2023 Readable Horenso's Ohitashi</p>
      </div>
    </div>
  </div>
</footer>