<div class="serach_form">
  <%= form_with url:search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.submit "検索", class: "btn" %>
  <% end %>
</div>
<!-- 検索機能は一時的に作ったものなので検索はできません-->
<!--下のルーティングも適当に作ったものなので変更したいなら自由にしてください-->
<!--get "search" => "searches#search"-->
<!-- ルーティングは一番下にあります-->